<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Farm Buddy
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Animal Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Animal Type</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="animal.animal_type_code">
          <ion-select-option *ngFor="let animalType of animalTypes" [value]="animalType.code">{{ animalType.animal_type }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Animal Name</ion-label>
        <ion-input placeholder="Animal Name" [(ngModel)]="animal.animal_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Animal Number</ion-label>
        <ion-input placeholder="Animal Number" [(ngModel)]="animal.animal_number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date of Birth</ion-label>
        <ion-datetime display-format="MMM DD, YYYY HH:mm" [(ngModel)]="animal.dob"></ion-datetime>
      </ion-item>
      <ion-text color="danger">{{ errorMsg }}</ion-text>
      <ion-item>
        <ion-button slot="end" type="button" color="primary" fill="outline" (click)="onSave()">Save</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer></app-footer>