<app-header></app-header>
<ion-content class="background">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card color="light" routerLink="/cakes/cake-detail">
                    <img src="../../assets/images/bio.png" height="100px" width="100px">
                    <ion-card-header>
                        <ion-card-title>Biomax</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-subtitle>Price Rs2795</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card color="light">
                    <img src="../../assets/images/conta.jpg" height="100px" width="100px">
                    <ion-card-header>
                        <ion-card-title>Contaf Plus</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-subtitle>Price Rs500</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card color="light" routerLink="/cakes/cakes">
                    <img src="../../assets/images/mang.jpg" height="100px" width="100px">
                    <ion-card-header>
                        <ion-card-title>Mango Special</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-subtitle>Price Rs395</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card color="light">
                    <img src="../../assets/images/tricho.jpg" height="100px" width="100px">
                    <ion-card-header>
                        <ion-card-title>Trichoderma Virid</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-subtitle>Price Rs185</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<app-footer></app-footer>