<app-header></app-header>
<ion-content>
  <div class="ion-padding">
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-subtitle>Month Production</ion-card-subtitle>
        <ion-card-title>May 2019</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
      <ion-item>
        <ion-icon name="paw" slot="start"></ion-icon>
        <ion-label>Chicken Meat</ion-label>
        <ion-label slot="end">50 kg</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
        <!-- <ion-button fill="outline" slot="end">Delete</ion-button>
        <ion-button fill="outline" slot="end">Edit</ion-button> -->
      </ion-item>
      <ion-item>
        <ion-icon name="paw" slot="start"></ion-icon>

        <ion-label>Egg</ion-label>

        <ion-label slot="end">500 pcs</ion-label>

        <ion-button fill="outline" slot="end">View</ion-button>
        <!-- <ion-button fill="outline" slot="end">Delete</ion-button>
        <ion-button fill="outline" slot="end">Edit</ion-button> -->
      </ion-item>
    </ion-card>

    <ion-card color="primary">
      <ion-card-header>

        <ion-card-subtitle>Month Consumption</ion-card-subtitle>

        <ion-card-title>May 2019</ion-card-title>

      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
      <ion-item>

        <ion-icon name="paw" slot="start"></ion-icon>

        <ion-label>Vitamins</ion-label>

        <ion-label slot="end">1 ltr</ion-label>

        <ion-button fill="outline" slot="end">View</ion-button> 
        <!-- <ion-button fill="outline" slot="end">Delete</ion-button>
        <ion-button fill="outline" slot="end">Edit</ion-button> -->
      </ion-item>
      <ion-item>

        <ion-icon name="paw" slot="start"></ion-icon>

        <ion-label>Chicken Dana</ion-label>

        <ion-label slot="end">25 kg</ion-label>

        <ion-button fill="outline" slot="end">View</ion-button>
        <!-- <ion-button fill="outline" slot="end">Delete</ion-button>
        <ion-button fill="outline" slot="end">Edit</ion-button> -->
      </ion-item>
      <ion-item>

        <ion-icon name="paw" slot="start"></ion-icon>


        <ion-label>Vaccination</ion-label>

        <ion-label slot="end">2 dose</ion-label>



        <ion-button fill="outline" slot="end">View</ion-button>
        <!-- <ion-button fill="outline" slot="end">Delete</ion-button>
        <ion-button fill="outline" slot="end">Edit</ion-button> -->
      </ion-item>



      <ion-item>



        <ion-icon name="paw" slot="start"></ion-icon>



        <ion-label>Chicken Dana</ion-label>



        <ion-label slot="end">150 kg</ion-label>



        <ion-button fill="outline" slot="end">View</ion-button>
        <!-- <ion-button fill="outline" slot="end">Delete</ion-button>
        <ion-button fill="outline" slot="end">Edit</ion-button> -->
      </ion-item>



    </ion-card>


  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">


    <ion-fab-button color="danger">



      <ion-icon name="add"></ion-icon>



    </ion-fab-button>


  </ion-fab>

</ion-content>
<app-footer></app-footer>